/** General CSS Styles **/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/** Header CSS Styles **/

.navbar {
    background-color: #333;
    color: white;
    height: 25vh;
}

.brand-title {
    font-size: 3rem;
    margin: 0.5rem;
    text-align: center;
    /* padding-top: 50px; */
}

.social-links {
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

.navbar-links {
    font-size: 1.5rem;
    padding-top: 1rem;
    letter-spacing: 0.7px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-links li {
    list-style: none;
    padding-right: 10px;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.social-media {
    font-size: 2.5rem;
    /* position: absolute; */
    padding-top: 20px;
    /* right: 430px; */
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

/** Intro CSS Styles **/
