/* General CSS Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* Header CSS Styles */

.navbar {
    background-color: #333;
    color: white;
    min-height: 25vh;
}

header img {
    width: 190px;
    height: auto;
    padding-right: 20px;
}

#title-image {
    display: flex;
    justify-content: center;
}

.brand-title {
    font-size: 3rem;
    margin: 0.5rem;
    text-align: center;
    /* padding-top: 50px; */
}

.social-links {
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

.navbar-links {
    font-size: 1.5rem;
    /* padding-top: 1rem; */
    letter-spacing: 0.7px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-links li {
    list-style: none;
    /* padding-right: 10px; */
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

/* Social Media links Media Queries */

@media (min-width: 720px) {

    .social-media {
        font-size: 2.5rem;
        /* position: absolute; */
        padding-top: 20px;
        /* right: 430px; */
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }
}

@media (max-width: 1200px) {

    .social-media {
        width: 87%;
    }
}

@media (max-width: 980px) {

    .social-media {
        width: 93%;
    }
}

@media (max-width: 820px) {

    .social-media {
        width: 98%;
    }
}

@media (max-width: 759px) {

    .social-media {
        display: none;
    }
}


/* Hamburger Menu CSS Styles */

.toggle-button {
    /* position: absolute;
    top: 0.75rem;
    right: 1rem;
    left: 1rem; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
    
.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Mobile/Tablet Navbar & Hamburger Media Queries */

@media (max-width: 759px) {

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .hamburger {
        display: flex;
        justify-content: center;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links {
        height: 75%;
        font-size: 1rem;
    }

    .navbar {
        min-height: 20vh;
    }

    .navbar-links.active {
        display: flex;
    }

    header img {
        display: none;
    }

}

@media (min-width: 760px) {
    .brand-title {
        margin-right: 10.625rem;
    }
}


/* Main Section CSS Styles & Media Queries */

#intro {
    text-align: center;
}

@media (min-width: 320px) {

    #intro {
        font-size: 0.58rem;
    }

    .featured {
        text-align: center;
        height: 88vh;
    }

    .booklist {
        text-align: center;
        height: 60vh;
    }

    .featured-cards {
        display: flex;
        height: 90%;
        flex-direction: column;
    }

    .booklist-cards {
        display: flex;
        flex-direction: column;
        height: 85%;
    }

    .f-card, .b-card {
        /* padding: 8px; */
        border-radius: 12px;
        height: 60%;
        margin-top: 10px;
        text-align: center;
        font-size: 0.5rem;
    }

    /* .b-card {
        text-align: center;
        font-size: 0.5rem;
    } */

    .b-card img {
        height: 150px;
        float: left;
        margin-top: 40px;
        margin-right: 10px;
    }

    .b-card p, strong {
        padding-left: 5px;
    }

    .b-card p, strong {
        padding-left: 5px;
    }

    .f-card p, strong {
        padding-left: 5px;
    }

    .book-description {
        /* width: 140ch;
        text-overflow: ellipsis;
        overflow: hidden; */
        white-space: pre-wrap;
        font-size: 0.6rem;
    }
}

@media (min-width: 360px) {

    #intro {
        font-size: 0.65rem;
    }
}

@media (min-width: 595px) {

    #intro {
        font-size: 1rem;
    }
}

@media (min-width: 760px) {
    #main {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .featured {
        align-self: flex-end;
        /* margin-right: 15px; */
        width: 25vw;
        position: relative;
        bottom: 31rem;
        height: 125vh;
    }

    .booklist {
        padding-top: 10px;
        padding-left: 10px;
    }

    .booklist-cards {
        display: flex;
        flex-direction: row;
        height: 100%;
        max-width: 80%;
        flex-wrap: wrap;
    }

    .b-card {
        flex: 0 0 auto;
        width: 45%;
        font-size: .4rem;
        text-align: left;
    }

    .b-card img {
        height: 160px;
        float: left;
        margin-top: 40px;
        margin-right: 10px;
    }

    .b-card p, strong {
        padding-left: 10px;
    }

    .f-card {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .f-card img {
        align-self: center;
        padding-top: 20px;
    }

    .f-card h1 {
        order: 5;
    }

    .f-card p {
        order: 4;
    }

    .f-card strong {
        order: 3;
    }

    .f-card .book-description {
        order: 2;
    }

    .book-description {
        /* width: 140ch;
        text-overflow: ellipsis;
        overflow: hidden; */
        white-space: pre-wrap;
        font-size: 0.63rem;
    }
}

@media (min-width: 875px) {

    .book-description {
        font-size: 0.82rem;
    }
}

@media (min-width: 900px) {

    .b-card,
    .f-card {
        font-size: 0.5rem;
    }
}

@media (min-width: 1400px) {

    .b-card,
    .f-card {
        font-size: 0.65rem;
    }

    .b-card img,
    .f-card img {
        height: 200px;
    }
}

.featured {
    border: 3px solid black;
    border-radius: 10px;
    background-color: darkgray;
}

.b-card {
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    background-color: white;
}

.f-card {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
}

/* is-selected class */
.is-selected {
    background-color: #FFE0B5;
}

/** Footer CSS Styles **/

@media (min-width: 320px) {

    footer {
        /* left: 0;
        position: fixed;
        bottom: 0;
        width: 100%; */
        height: 15vh;
        background-color: #333;
        text-align: center;
        padding-top: 50px;
        padding-left: 25px;
        font-size: 2rem;
        margin-top: 1400px;
    }
}

@media (min-width: 760px) {

    footer {
        display: none;
    }
}

